{% extends "base.html" %}
{% block content %}

<h1>Add a new brand to the database: </h1>

<form action="/brands" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="origin">Origin</label>
        <input type="text" name="origin" id="origin">
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/edit_form_style.css') }}">
{% endblock %}
