{% extends 'base.html' %}
    {% block content %}
    <style>
       

    </style>
        <h1>View stock by Brand</h1>
        <button id="add"><a id="new-brand" href="/brands/new">Click here to add a new brand</a></button>
            <table>
                <tr>
                    <th style="width:200px" >Name</th>
                    <th style="width:200px">Origin</th>
                    <th style="width:100px">Active</th>
                    <th style="width:100px">Edit</th>
                </tr>
                {% for brand in brands %}
                <tr>
                    <td id="name-allign"><a href="/keyboards/{{ brand.id }}"> {{brand.name}} </a></td>
                    <td id="collumn-allign">{{brand.origin}}</td>
                    <td id="collumn-allign">{{brand.active}}</td>
                          <!-- &nbsp;  -->
                    <td id="collumn-allign"><button><a href="/brands/{{ brand.id }}/edit">Edit</a></button></td>
                </tr>
                {% endfor %}
            </table>
        <footer id="add-new">
        </footer>
    {% endblock %}

    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/brand_view_style.css') }}">
    {% endblock %}