{% extends "base.html" %}
{% block content %}

<h2>Add a new Keyboard to the database: </h2>

<form action="/keyboards" method="POST">
    <div>
        <label for="brand"> Brand:</label>
        <select name="brand" id="brand">
            {% for brand in brands %}
            {% if brand.active == true %}
            <option value="{{ brand.id }}">
                {{ brand.name }}
            </option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="description">Description: </label>
        <input type="text" id="description" name="description">
    </div>
    <div>
        <label for="current_stock">Amount of stock: </label>
        <input type="text" id="current_stock" name="current_stock">
    </div>
    <div>
        <label for="cost_price">Cost to buy: </label>
        <input type="text" id="cost_price" name="cost_price">
    </div>
    <div>
        <label for="sale_price">Price to sell at: </label>
        <input type="text" id="sale_price" name="sale_price">
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}
