{% extends 'base.html' %}
    {% block content %}
        <h1>View stock by Keyboard</h1>
        <button id="add"><a href="/keyboards/new"> Click to add a new keyboard</a></button>
            <table id="keyboard-table">
                <tr id="table-headers">
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Item Description</th>
                    <th>Category</th>
                    <th>Current Stock</th>
                    <th>Cost Price</th>
                    <th>Sale Price</th>
                    <th>Mark up</th>
                    <th>Edit</th>
                </tr>
                {% for board in keyboards %}
                <tr class="table">
                    <td> {{board.name}} </a></td>
                    <td> <a href="/keyboards/{{ board.brand.id }}"> {{board.brand.name}} </a> </td>
                    <td> {{board.description}} </td>
                    <td> {{board.category.name}} </td>
                    {% if board.current_stock == 0 %}
                    <td class="column-allign" style="color:red"> out of stock </td>
                    {% elif board.current_stock < 5 %}
                    <td class="column-allign" style="color:red"> {{board.current_stock}} - low stock </td>
                    {% else %}
                    <td class="column-allign" style="color:green"> {{board.current_stock}} in stock</td>
                    {% endif %}
                    <td class="column-allign"> {{board.cost_price}} </td>
                    <td class="column-allign"> {{board.sale_price}} </td>
                    <td class="column-allign">{{ (((board.sale_price - board.cost_price)/board.cost_price)*100) | round(0, 'ceil') }}% </td>
                    <td class="column-allign"><button><a href="/keyboards/{{ board.id }}/edit"> Edit</a></button></td>
                </tr>
                {% endfor %}
            </table>

            <footer id="add-new">
                <div>
                    
                </div>
            </footer>
    {% endblock %}

    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/keyboard_view_style.css') }}">
    {% endblock %}