body {
    background-color: rgb(243, 243, 239);
}

.navigation {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    gap: 20px;
    background-color: rgb(131, 148, 165);
    width: 97%;
}

a {
    color: black;
}
