<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="{{ url_for('static', filename='style/base_style.css') }}">
            {% block css %}
            {% endblock %}
            <title>SamsKeyboards</title>
        </head>
        <body>
            <main class="flex flex--row" >
            <nav class="navigation">
                <div>
                    <a href="/">Home</a>
                </div>
                <div>
                    <a href="/brands">Brands</a>
                </div>
                <div>
                    <a href="/keyboards">Keyboards</a>
                </div>
                <div>
                    <a href="/categories">Categories</a>
                </div>
            </nav>
            <section id="content">
                {% block content %}
                {% endblock%}
            </section>
            </main>
        </body>
    </html>